@charset "UTF-8";
/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3E3E3E;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

li, ol {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

th, td {
  text-align: left;
}

input, textarea {
  padding: 8px;
  border: 1px solid #3E3E3E;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #3E3E3E;
  box-shadow: none;
}

textarea {
  resize: none;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  outline: none;
  border: none;
}

input[type="submit"] ::-moz-focus-inner {
  padding: 0;
  border: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  display: inline-block;
  position: relative;
  padding: 0px 0 0 1.2em;
  margin: 33px 53px 0 0px;
  cursor: pointer;
  font-size: 22px;
  font-weight: normal;
}

@media (max-width: 767px) {
  input[type="radio"] + span {
    margin: 0px 87px 0 0px;
    font-size: 17px;
  }
}

input[type="radio"] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #3E3E3E;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  display: block;
}

@media (max-width: 767px) {
  input[type="radio"] + span::before {
    width: 0.6em;
    height: 0.6em;
  }
}

input[type="radio"] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

input[type="radio"] + span:focus, input[type="radio"] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #3E3E3E;
}

input[type="radio"]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  background: #3B69FF;
  border-radius: 50%;
  width: 0.25em;
  height: 0.25em;
  display: block;
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

input[type="checkbox"] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #3E3E3E;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}

input[type="checkbox"] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -9px;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #3B69FF;
  border-bottom: 3px solid #3B69FF;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #3E3E3E;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
  border: 1px solid #3E3E3E;
  box-shadow: none;
}

.hidden {
  display: none;
}

.inner {
  margin: 0 auto;
  max-width: 100%;
  width: 1366px;
}

@media (max-width: 1179px) {
  .inner {
    width: 960px;
  }
}

@media (max-width: 767px) {
  .inner {
    width: 375px;
  }
}

.wrapper {
  overflow: hidden;
}
